/*transition between pages*/
@keyframes transitionIn { 
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.container {
    animation: transitionIn 0.75s;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero { /*main container of the body*/
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    /* backdrop-filter: blur(7px); */
}

.title {
    padding-right: 30px;
    font-family: 'Gloock', serif;
    font-size: 33px;
    color: #ffffff;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #aaaaaa;
    transition: 0.5s;
}

.socials li {
    list-style: none;
    /* padding: 10px 20px; */
    padding-top: 22px;
    padding-left: 22px;
    font-size: 20px;
    font-family: 'PT Mono', monospace;
}
.socials a {
    color: black;
    font-weight: bold;
}
.socials a:hover {
    color: #BFBFBF;
    transition: 0.5s;
}
.socials a:visited {
    color: black;
}
.socials a:visited:hover {
    color: #BFBFBF;
    transition: 0.5s;
}


.backVideo {
    position: absolute;
    right: 1;
    bottom: 0;
    z-index: -1;
}

#aboutContainer {
    background-image: url(../assets/images/textbg.png);
    height: 755px;
    width: 600px;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'PT Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

.bold {
    font-weight: bold;
}

.reSize {
    width: 140px;
    display: inline;
    margin-left: 5%;
    margin-top: 4%;
    /* padding-top: 40px;
    padding-bottom: 20px; */
}
.sticky {
    float: right;
    margin-top: -30%;
    margin-right: 35%;
    position: relative;
    /* padding-bottom: 4%; */
}

.postBG {
    background-color: white;
    margin: auto;
    margin-top: 2%;
    width: 60%;
    padding: 20px;
}
.postContent {
    font-size: large;
}
.postTitle {
    font-family: 'PT Mono', monospace;
}